::ng-deep .mat-tab-label {
  padding: 0px !important;
  justify-content: left !important;
}

::ng-deep
  mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix {
  padding: 0.6em 0px !important;
}
::ng-deep
  mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper {
  top: -1.3em !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75) !important;
  width: 133.33333% !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.feature-custom {
  text-align: center;
  border-radius: 200px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  color: white;
  display: flex;
}
.carousel-image {
  width: 100%;
  height: 65vh;
}

.section {
  margin-top: -60px;
}
.slider-section {
  margin-top: -40px;
  margin-bottom: 100px;
}

.carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-item {
  animation: slideIn 0.5s ease forwards;
}

.carousel-item-next,
.carousel-item-prev {
  animation: slideIn 0.5s ease forwards;
}

.card {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.6s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mat-form-field {
  opacity: 0;
  transform: translateY(20px);
  animation: formFieldAnimation 0.4s forwards;
}

@keyframes formFieldAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: rgb(150, 1, 14);
  transform: scale(1.05);
}
