<app-header></app-header>
<div class="hero-section section pt-0">
  <div class="container pt-5"></div>
</div>

<div class="blog-section section container">
  <div class="row">
    <div class="col-sm-8 offset-lg-2">
      <h4>Contact Us</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Country Code</mat-label>
                <input matInput placeholder="Contry Code" />
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Phone </mat-label>
                <input matInput placeholder="Phone" />
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" />
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Subject" />
              </mat-form-field>
            </div>

            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Message"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-12">
              <button class="btn btn-success">Send Message</button>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h4>Transliner cruiser Contacts</h4>
          <div class="row">
            <div class="col-sm-12">
              <ul style="list-style: none">
                <li>Nyacheki: <b>0793577799</b></li>
                <li>Kisii: <b>0719317152</b></li>
                <li>Chepilat: <b>0799010259</b></li>
                <li>Oyugis: <b>0797086976</b></li>
                <li>Homabay: <b>0792102322</b></li>
                <li>Ogembo: <b>0720264199 </b></li>
                <li>Magena: <b>0712992203 </b></li>
                <li>Kenyenya: <b>0713023900</b></li>
                <li>Kamenta: <b>0702947324</b></li>
                <li>Mogonga: <b>0790411973</b></li>
                <li>Nyamache: <b>0701206508</b></li>
                <li>Katito: <b>0757882155</b></li>
                <li>Keroka: <b>0716270042</b></li>
                <li>Ekerenyo: <b>0795541244</b></li>
                <li>Kebiringo:<b>0717049493</b></li>
                <li>Nyamira: <b>0727740430</b></li>
                <li>Kemenya: <b>0711723076</b></li>
                <li>Kisii: <b>0791673939</b></li>
                <li>Ikonge: <b>0719114371</b></li>
                <li>Nyamache: <b>0724698139</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
